*{
    padding:0;
    margin:0;
    font-size:calc(0.7vw + 0.7vh);
}
h1{
    font-size:calc(1.2vw + 1.2vh);
}
.Home{
    background-image:url(/ABp.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    width:100vw;
    height:100vh;
    z-index: -1;
}
.Hometitle{
    position:absolute;
    width: 100%;
    text-align: center;
    top:5vh;
    color:aliceblue;
}
nav{
    position:fixed;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.449);
    width:40vw;
    height:7vh;
    border-radius: 30vw 30vw 0% 0%;
    text-align: center;
    left:30vw;
}
nav img{
    width:2vw;
    height:2vw;
}
nav ul{
    list-style: none;
    display:flex;
    align-items: center;
    height:100%;
    width:100%;
    justify-content: center;
    opacity:1;
    z-index:2;
}
nav li{
    padding:0 2vw;
    font-size:calc(0.7vw + 0.7vh);
    color:#000;
}
nav a{
    text-decoration: none;
    color:#000;
    transition:ease 0.5s;
}
nav a:hover{
    font-size:calc(0.8vw + 0.8vh);
}
@keyframes lefttoright{
    from{
        translate:-50%;
        opacity: 0;
    }
    to{
        translate:0;
        opacity:1;
    }
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.Description{
    position:absolute;
    top:38vh;
    left:5vw;
    z-index:2;
    color:white;
    width:35vw;
    height:40vh;
    animation-name: lefttoright;
    animation-duration: 2s;
}
.Description h2{
    font-size: calc(1vw + 1vh);
    position:relative;
    top:-10%;
}
.Description p{
    font-size: calc(0.8vw + 0.8vh);
}
.Description h2{
    text-align: center;
}
.VideoPlay{
    background-color: rgba(255, 255, 255, 0.264);
    width:40vw;
    height:45vh;
    position:absolute;
    left:45vw;
    top:30vh;
    border-radius: 5vw 5vw 5vw 5vw;
    animation-name:fadeIn;
    animation-duration: 3s;
}
.VideoPlay iframe{
    width:100%;
    height:100%;
    border-radius: 5vw 5vw 5vw 5vw;
    transition: ease 0.8s;
}
.VideoPlay iframe:hover{
    width:110%;
    height:110%;
    border-radius: 0vw 0vw 0vw 0vw;
}
.All{
    position:relative;
    background-image:url(/media/ABp.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    width:100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color:white;
}
.All h1{
    text-align: center;
    width: 100%;
    position:absolute;
    top:3vh;
}
.Allvideos-container{
    position:absolute;
    display:grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    top:13vh;
    align-items: center;
    padding:2vw;
}
.Allvideos-item{
    padding:2vw;
    width:100%;
    height:40vh;
    border-radius: 1vw 1vw 1vw 1vw;
}
.Allvideos-item iframe{
    width:80%;
    height:80%;
    border-radius: 1vw 1vw 1vw 1vw;
    transition: ease 1s;
}
.Allvideos-item iframe:hover{
    width:85%;
    height:85%;
}
::-webkit-scrollbar{
    width:0.5vw;
    border-radius: 0.5px;
}
::-webkit-scrollbar-track{
    background: rgba(15, 13, 31, 0.715);
}
::-webkit-scrollbar-thumb{
    background:rgba(5, 5, 114, 0.76);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(1, 1, 84);
}
.Info{
    position:relative;
    background-image:url(/media/ABp.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    width:100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color:white;
}
.Info nav{
    background-color:rgba(255, 255, 255, 0.733);
}
.Info::before{
    content:'';
    background: rgba(0, 0, 0, 0.7);
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:fixed;
}
.timeline{
    color:white;
    z-index: 0;
    position:absolute;
    top:10vh;
    width:40vw;
    left:30vw;
}
.checkpoint{
    width:30vw;
    position:relative;
    left:5vw;
    padding-top: 3vh;
}
.checkpoint:nth-child(odd){
    border-left: 1px solid white;
    margin-left:37.5%;
}
.checkpoint:nth-child(even){
    border-right: 1px solid white;
    margin-left:-37.5%;
}
.checkpoint:nth-child(odd) div{
    left:2vw;
}
.checkpoint:nth-child(even) div{
    right:2vw;
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content:'';
    background:white;
    width:2vw;
    height:1px;
    position:absolute;
    top:50%;
}
.checkpoint:nth-child(even)::before{
    right:0;
}
.checkpoint:nth-child(even){
    border-right: 1px solid white;
    margin-left:-37.5%;
}
.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content:'';
    background:rgba(255, 255, 255, 0.926);
    width:1vw;
    height:1vw;
    border: solid rgba(7, 7, 102, 0.79);
    border-radius: 50%;
    position:absolute;
    top:40.5%;
}
.checkpoint:nth-child(odd) div::before{
    left:-2.73vw;
}
.checkpoint:nth-child(even) div::before{
    right:-2.73vw;
}
.checkpoint div{
    border:1px solid white;
    padding:1vw;
    border-radius: 2vh;
    position:relative;
}
.contact{
    cursor: pointer; 
}
.contact div {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    padding: 1vh;
    line-height: 3vh;
    width: 10vw;
    height: 10vh;
    background: rgba(255, 255, 255, 0.864);
    position: absolute;
    top: -10vh;
    border-radius: 1vw;
}

.contact:hover div {
    opacity: 1;
    visibility: visible;
}
.contactpg{
    width:100%;
    min-height: 100vh;;
}
#contactleft{
    position:relative;
    width:30vw;
    height:60vh;
    transform: translate(18%);
    top:20vh;
    background: rgba(255, 255, 255, 0.247);
    border-radius: 2vw 2vw 2vw 2vw;
}  
.contactInputs{
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.447);
    transition:ease 0.8s;
}
.contactInputs:hover{
    background: rgba(255, 255, 255, 0.847);
}
.contactInputs::placeholder{
    text-align: center;
    color:black;
    font-family: 'Franklin Gothic Medium';
}
.contactInputs:nth-child(2) {
    position: absolute;
    border-radius: 2vw;
    height: 10%;
    width: 80%;
    left: 10%;
    top: 5%;
}

.contactInputs:nth-child(3) {
    position: absolute;
    border-radius: 2vw;
    height: 10%;
    width: 80%;
    left: 10%;
    top: 20%;
}

.contactInputs:nth-child(4) {
    position: absolute;
    border-radius: 2vw;
    height: 50%;
    width: 80%;
    left: 10%;
    top: 35%;
    transition: ease 1s;
}
.contactInputs:nth-child(4):hover{
    border-radius: 0;
}
.submitbtn{
    position: absolute;
    border-radius: 2vw;
    height: 10%;
    width: 20%;
    left: 40%;
    top: 87%;
    cursor:pointer;
    transition: ease 0.7s;
    background: rgba(255, 255, 255, 0.447);
}
.submitbtn:hover{
    background-color: rgba(22, 143, 22, 0.873);
    color:black;
}
